.chatForm {
  height: 100vh;
}

.joinWrap {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
}

.roomTitle {
  color: #336600;
}

.joinUser {
  margin-right: 10px;
}

.chatInputWrap {
  display: flex;
  width: 100%;
  padding: 20px;
}

.chatInput {
  width: 100%;
  height: 50px;
}

input::placeholder {
  padding-left: 10px;
}

.sendButton {
  flex: none;
  height: 50px;
  width: 80px;
  margin-left: 10px;
}

.chatWindow {
  flex: 1;
  overflow: auto;
}

.chatForm,
.chatWindow {
  display: flex;
  flex-direction: column;
}
.chatWindow::before {
  display: block;
  flex: 1;
  content: "";
}

.typingUsers {
  color: lightslategray;
  margin-left: 20px;
}
